@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//graphic header
.graphic-header {
	background-image:url(/static/img/background.png);
	background-size:cover;
	background-position:bottom center;
	img {
		margin:10rem 0;
	}
}

//login page
.login {
	background: $blue;
	padding-top:4rem;
	text-align:center;
	color:$grey;
	.button {
		width: 100%;
	}
	input {
		padding: 1rem 1rem 1.0625rem 1rem;
		height: auto;
	}
	a {
		color: $white;
	}
	.facebook-blue {
		@include button(
		    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
		    $button-med,
		    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
		    #4c66a4,
		    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
		    false,
		    // We can set $full-width:true to remove side padding extend width. Default:false
		    true,
		    // We can set $disabled:true to create a disabled transparent button. Default:false
		    false
		  );
		&:before {
			font-family: FontAwesome;
		    content: "\f09a";
		}
	}
}

//navigation - left side
.nav {
	background: $blue;
	position:fixed;
	height:100%;
	h1 {
		background:$blue-xdark;
		margin:0;
		line-height: 4rem;
		height:4rem;
		padding-left:1rem;
		a {
			display: block;
			line-height: 3.5rem;
		}
		img {
			width: 50%;
			height: auto;
		}
	}
	.user-area {
		color:$white;
		padding:.6rem 0;
		background:$blue-dark;
		h5 {
			color: $white;
			font-size: .9rem;
			margin-bottom: .1rem;
		}
		.subheader {
			font-size: .5rem;
			color:$grey;
			margin-top:0;
			text-transform: uppercase;
		}
	}
	.side-nav {
		li {
			a {
				border-left: .3rem solid transparent;
				&:hover {
					border-left: .3rem solid $primary-color;
				}
				i {
					&:first-of-type {
						width: 1rem;
						margin-right: .7rem;
					}
					&:last-of-type {
						float: right;
						padding-top:.25rem;
					}
				}
			}
		}
	}
}

//header right side
.top.header {
	background:$white;
	color:$grey;
	border-bottom:1px solid $grey-light;
	text-align:right;
	height:4rem;
	line-height:4rem;
	span {
		display: inline-block;
	}
}

//main content stuff
button, .button {
	box-shadow:1px 1px 1px rgba(0,0,0,.2);
}

.main-content {
	background:#f8f9fa;
	padding-top:2rem;
	padding-bottom:2rem;
}

.panel {
	padding:0;
	box-shadow:1px 1px 1px rgba(0,0,0,.2);
	.header {
		color:$white;
		font-size:1rem;
		padding:1rem;
	}
	.content {
		padding:1em;
	}
	&.project-new, &.datastream-new {
		display: inline-block;
		i {
			margin-left:.5rem;
		}
		.header {
			background:$primary-color;
			cursor: pointer;
			&:hover {
				background:darken($primary-color,10%);
			}
		}
		.content {
			display: none;
		}
		&.expanded {
			display: block;
			.header {
				background:darken($primary-color,10%);
			}
			.content {
				display: block;
			}
		}
	}
	&.project {
		margin-bottom: .5rem;
		.header {
			background:$blue-xlight;
			cursor: pointer;
			&:hover {
				background:$blue-light;
			}
			.subtitle {
				font-size:1rem;
				opacity: .8;
				font-style: italic;
			}
			.datastreams {
				font-size:1rem;
				text-align: right;
				.actions {
					margin-top:.5rem;
					display: none;
					button {
						margin-bottom: 0;
						&.configure {
							margin-right: .5rem;
						}
					}
				}
			}
			.avatar {
				img {
					border-radius:50%;
					position: absolute;
					width: 74%;
					height: auto;
					top:-.5rem;
					border:2px solid $white;
					box-shadow:1px 1px 1px rgba(0,0,0,.2);
				}
			}
		}
		.content {
			display: none;
			.description, .stream {
				display: none;
			}
			&.fullvis {
				.stream {
					display: block;
				}
			}
		}
		&.expanded {
			.header {
				background:$blue-light;
				.datastreams {
					.actions {
						display: block;
					}
				}
			}
			.avatar {
				line-height: 0;
				img {
					position: relative;
					width: 100%;
					margin-bottom: -1rem;
					margin-top:0;
				}
			}
			> .content {
				display: block;
				.description {
					display: block;
				}
			}
		}
		.stream {
			.panel {
				margin-bottom: .5rem;
				&.expanded {
					.header {
						background:darken($primary-color,10%);
					}
				}
			}
			&.add-datastream {
				//margin-bottom: 1.5rem;
				.header {
					background:$primary-color;
					&:hover {
						background:darken($primary-color,10%);
					}
				}
			}
			&.edit-datastream {
				.actions {
					float: right;
					margin-top: -.4rem;
					button {
						margin-bottom: 0;
						&.configure {
							margin-right: .5rem;
						}
					}
				}
				.content {
					display: none;
					&.fullvis {
						display: block;
					}
					.save {
						margin-right: .5rem;
					}
				}
			}
			table.filters {
				width: 100%;
				input,select,label {
					margin-bottom:0;
				}
				td {
					height: 3.6rem;
				}
				label.show {
					text-align: center;
					padding:.5rem;
					input {
						cursor: pointer;
					}
				}
			}
		}
	}
}

//visualisaties
.vis-blok {
	margin-top:1rem;
	.visualisation {
		.content {
			display: block;
		}
	}
}

footer {
	background:$white;
	border-top:1px solid $grey-light;
	color:$grey;
	padding:rem-calc(20);
}

//form, datepicker 
#ui-datepicker-div {
	background:$white;
	padding:.5rem 1rem;
	border:1px solid $iron;
	display:none;
	z-index:99999;
	.ui-datepicker-next {
		float:right;
	}
	.ui-datepicker-month {
		width:83%;
		display: block;
		float:left;
	}
	.ui-datepicker-year {
		display: block;
		float: right;
		width:15%;
		height: 2.3125rem;
  		line-height: 2.3125rem;
  		text-align: right;
	}
	td {
		text-align: center;
		padding:0;
		span {
			display: block;
			padding:0.5625rem 0.625rem;
		}
		a {
			display: block;
			padding:0.5625rem 0.625rem;
			&:hover {
				background:$blue;
			}
		}
	}
	.ui-datepicker-current-day {
		a {
			background:$blue;
		}
	}
	.ui-datepicker-unselectable {
		color:$iron;
	}
	.ui-datepicker-today {
		a {
			border:1px solid $iron;
		}
	}
}

#keyword-0_flexselect {
	border-color:$primary-color;
}

#keyword-1_flexselect {
	border-color:$red-dark;
}

//datastream stylez
.datastream {
	button {
		margin-bottom: 0;
		font-size:.8rem;
		.fa {
			color: #fff;
		}
	}
	h1 {
		font-size: 1.8rem;
		margin:.6rem 0;
	}
	.hl {
		&:hover {
			background:$smoke;
		}
		input, select, label {
			margin-top:.35rem;
			margin-bottom: .35rem;
		}
	}
	input {
		&.header-input {
			font-size:1.8rem;
			height:auto;
		}
		&[type=checkbox] {
			height:2.3125rem;
			float: left;
			+ label {
				height:2.3125rem;
				line-height: 2.3125rem;
			}
		}
	}
	table {
		width:100%;
		td {
			width: 33.3333333%;
		}
		input,select,label {
			margin-top:0;
			margin-bottom: 0;
		}
	}
	#save {
		margin-top:1rem;
	}
}

.alert-box.helper {
	background:$blue;
	padding:1.25rem;
	h3 {
		color:#fff;
	}
	&.nopadding {
		padding:0;
		margin:0;
	}
	.close {
		position: relative;
		opacity: 1;
		right:auto;
		margin-top:0;
		top:auto;
		@include button;
		font-size: .8rem;
		&:hover {
			opacity: 1;
		}
	}
}

.addstream .fa {
	margin:0;
}

.panel-content {
	display:none;
}

.killbutton {
	overflow:hidden;
	display:inline-block;
	float:right;
	margin-left:.3rem;
	button {
		white-space:nowrap;
	}
}

//helper classes
.tableview {
	display:table;
	&.row {
		width:100%;
	}
}

.align-middle {
	display:table-cell;
	vertical-align: middle;
	float:none;
}

.margin-top {
	margin-top:rem-calc(20);
}

#barchart svg {
    width: 100%;
    height: 400px;
}
#linechart svg {
    width: 100%;
    height: 400px;
}

.more-padding {
	padding:2rem 0;
}

.alert.disabled {
	display:none;
}
.choose-dataset{
	background: $blue;
	display:none;

}

.italic {
	font-style:italic;
}

// [data-magellan-expedition], [data-magellan-expedition-clone] {
// 	min-width: initial;
// }
// div[data-magellan-expedition="fixed"].fixed {
// 	left: auto;
// 	max-width:320px;
// }