{% load cms_tags menu_tags sekizai_tags %}
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Data Pool{% endblock title %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= "{% static "stylesheets/flexselect.css" %}" />
    <link rel="stylesheet" href="{% static "stylesheets/jquery.timepicker.css" %}" />
    <link rel="stylesheet" href="{% static "stylesheets/app.css" %}" />
    <link rel="stylesheet" href="{% static "stylesheets/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css" />
     {% render_block "css" %}

    <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>

  </head>
  <body>

    {% cms_toolbar %}

    <!-- start main wrapper row -->

    <div class="row">

      {% block sidebar %}
      <!-- start left side -->

      <div class="columns small-2 nav">

        <div class="row"> 

          <nav role="navigation">

            <h1><a href="/"><img src="/static/img/logo.svg"></a></h1>

            <div class="user-area row">
              <div class="columns small-4">
                <img src="">
              </div>
              <div class="columns small-8">
                <h5><span class="italic">Welcome!</span> John Doe</h5>
                <h6 class="subheader">Administrator</h6>
                <button class="button tiny">Edit profile</button>
              </div>
            </div>

            <ul class="side-nav">
              {% block navigation %}
              <li><a href="/add_data"><i class="fa fa-archive"></i>Data sets<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/projects"><i class="fa fa-file-o"></i>Projects<i class="fa fa-chevron-right"></i></a></li>
              {% endblock %}
            </ul>
          </nav>

        </div>

      </div>

      <!-- end left side -->

      {% endblock %}

      {% block rightside %}

      <!-- start right side -->

      <div class="columns small-10">

        <div class="row top header">
          <div class="columns small-12">
            <span class="user">John Doe</span>
          </div>
        </div>

        <div class="row main-content">

          <div class="columns small-12">

            {% block content %}
            {% endblock %}

          </div>

        </div>

      <!--start footer -->
        <footer class="row">
          <div class="large-4 columns large-centered">
            <div class="row">
              <div class="large-6 columns">
                <img src="/static/img/zz-logo.svg">
              </div>
              <div class="large-6 columns">
                <img src="/static/img/leiden.svg">
              </div>
            </div>
          </div>
        </footer>

      </div>

      <!-- end right side -->

      {% endblock %}

    </div>

    <!-- end main wrapper row -->
      
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/liquidmetal.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.flexselect.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.timepicker.min.js"  %}"type="text/javascript"></script>
    <script src="{% static "bower_components/foundation/js/foundation.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "/bower_components/jquery.cookie/jquery.cookie.js" %}" type="text/javascript"></script>

    <script src="{% static "js/app.js" %}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js" type="text/javascript"></script>
    <script src="{% static "js/leaflet-heat.js" %}" type="text/javascript"></script>
    <script src="{% static "js/datapool-map.js" %}" type="text/javascript"></script>
    <script src="{% static "js/datapool-line-chart.js" %}" type="text/javascript"></script>
    <script src="{% static "js/datapool-bar-chart.js" %}" type="text/javascript"></script>

    <script src="{% static "js/main.js" %}" type="text/javascript"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    {% render_block "js" %}
  </body>
</html>
