{% extends "base_dp.html" %}

{% block title %}Data Pool | Login{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}

<div class="row margin-top">
    <div class="columns small-12 medium-6 large-4 small-centered">
        <div class="panel">

            {% if form.errors %}
            <div data-alert class="alert-box alert">
                Your username and password didn't match. Please try again.
                <a href="#" class="close">&times;</a>
            </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <div data-alert class="alert-box alert">
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                    <a href="#" class="close">&times;</a>
                </div>
                    {% else %}
                <div data-alert class="alert-box alert">
                    Please login to see this page.
                    <a href="#" class="close">&times;</a>
                </div>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}

                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}

                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}

            <input type="submit" value="login" class="button" />
            <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}

        </div>
    </div>
</div>

{% endblock %}