{% extends "base_dp_no_cms.html" %}
{% block content %}


      <div class="row margin-top">
        <div class="large-3 columns">
          <div id="addproject" class="panel dashboard filters">
            <h5><i class="fa fa-tachometer"></i>Add a project</h5>
            <form id='project_form' method='POST'>
             {% csrf_token %}
               <div class="row">
                <div class="large-12 columns">
                   <div class="margin-top">
                    <input id="project-name" type="text" placeholder="Name your project">
                  </div>
                  <div id="datastreams">
                    <select id="datastreams0" name='data_set'>
                      <option value="">Add data stream</option>
                      {% for data_stream in data_set_streams %}
                        <option value="{{data_stream.id}}">{{data_stream.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns margin-top">
                  <a id="go" href="#" class="small button secondary">Add</a>
                </div>
              </div>
            </form>
          </div>
        </div> 
        <div class="large-9 columns">

          <div data-alert class="alert-box helper">
            <h3>Adding projects to your Data Pool</h3>
            <p>Projects contain groups of data streams you wish to visualize in the Data Pool dashboard. To create a project, you first need to create some data streams. </p>
            <p>Once that's done, enter your project name on the left, and select as many data streams as you like. Forgot to add some streams? Don't worry, you can always edit your created projects on this page.</p>
            <button class="close btn">Ok, I got it</button>
          </div>


          <!--start van het boxje -->

          <div class="row">
            <div class="large-12 columns">
              <div class="panel datastream">

                <div class="panel-header">
                  <div class="row">
                    <div class="large-7 columns">
                      <h1>Project name</h1>
                    </div>
                    <div class="large-5 columns text-right">
                      <button class="btn configure">Configure</button>
                      <div class="killbutton"><button class="btn alert kill">Delete</button></div>
                    </div>
                  </div>
                </div>

                <div class="panel-content">
                  <div class="row">
                    <div class="large-12 columns">
                      <input class="header-input" id="data-name" type="text" value="Another project">
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Change, add or remove data streams</label>
                    </div>
                  </div>
                  <div class="streams">
                    <div class="row stream datastream0 disabledelete">
                      <div class="large-8 columns">
                        <select>
                          <option value="dolly1">Dolly Data #1</option>
                          <option value="dolly2">Dolly Data #2</option>
                        </select>
                      </div>
                      <div class="large-4 columns">
                        <button class="btn alert tiny disabled">Delete</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-8 columns text-right">
                      <button class="btn addstream"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <button class="btn save">Save</button>
                      <button class="btn close secondary">Close</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- eind van het boxje -->



        </div>
      </div>

   {% endblock %}