{% extends "base_dp_no_cms.html" %}
{% block content %}

  <!-- new project panel -->

  <div class="columns small-11 small-centered">
    <div class="panel project-new">
      <div class="header">
        Add new project <i class="fa fa-plus"></i>
      </div>
      <div class="content">
        <form>

          <div class="row">
            <div class="small-8 columns small-centered">

              <div class="row">
                <div class="small-2 columns">
                  <label for="title" class="right inline">Name of project</label>
                </div>
                <div class="small-10 columns">
                  <input type="text" id="title">
                </div>
              </div>

              <div class="row">
                <div class="small-2 columns">
                  <label for="subtitle" class="right inline">Subtitle</label>
                </div>
                <div class="small-10 columns">
                  <input type="text" id="subtitle">
                </div>
              </div>

              <div class="row">
                <div class="small-2 columns">
                  <label for="about" class="right inline">About project</label>
                </div>
                <div class="small-10 columns">
                  <textarea id="about" rows="5"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="small-12 columns text-right">
                  <input type="submit" class="button" value="Create">
                </div>
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- end new project panel -->

  {% for project in my_projects.all %}

  <!-- an existing project -->

  <div class="columns small-11 small-centered">
    <div class="panel project">
      <div class="header main">
        <div class="row">
          <div class="columns small-1 avatar"><img src="/static/img/avatar.png">&nbsp;</div>
          <div class="columns small-4 title">{{project.name}}</div>
          <div class="columns small-4 subtitle">Subtitle here</div>
          <div class="columns small-3 datastreams">
            <div>Datastreams: XX</div>
            <div class="actions">
              <button class="button tiny configure">Configure</button>
              <button class="btn alert tiny kill" data-project-id='{{project.id}}'>Delete</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row description">
          <div class="columns small-10 small-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae malesuada neque, vitae molestie nisl. Suspendisse rhoncus sodales tortor vel iaculis. Etiam sagittis placerat tincidunt. Mauris non turpis ac nisl elementum posuere. Pellentesque id lacinia lorem. Aliquam leo ex, aliquam sed pulvinar nec, varius a mauris. </p>
          </div>
        </div>

        <div class="row stream add-datastream">
          <div class="columns small-11 small-centered">
            <div class="panel datastream-new">
              <div class="header">
                Add data stream <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
        </div>

        {%for my_data_stream in project.data_streams.all%}              
        <!-- start datastream blok -->
        <div class="row stream edit-datastream" id="stream-id-{{my_data_stream.id}}-{{project.id}}">
          <div class="columns small-11 small-centered">
            <div class="panel">
              <div class="header">
                {{my_data_stream.name}}
                <div class="actions">
                  <button class="button tiny configure">Configure</button>
                  <button class="button tiny alert delete-stream-from-project" stream-parent-id="stream-id-{{my_data_stream.id}}-{{project.id}}">Delete</button>
                </div>
              </div>
              <div class="content">

                <form>

                  <div class="row">
                    <div class="columns small-6">

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">Stream name</label>
                        </div>
                        <div class="small-9 columns">
                          <input type="text" id="title">
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">Set period</label>
                        </div>
                        <div class="small-9 columns">
                          <input type="text" id="title">
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">City</label>
                        </div>
                        <div class="small-9 columns">
                          <input type="text" id="title">
                        </div>
                      </div>

                    </div>
                    <div class="columns small-6">

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">Select data stream</label>
                        </div>
                        <div class="small-9 columns">
                          <select id="datastreams0" name='data_set'>
                            {% for data_stream in data_set_streams %}
                              <option value="{{data_stream.id}}" {%if data_stream.id == my_data_stream.id%}SELECTED{%endif%}>{{data_stream.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">Chart type</label>
                        </div>
                        <div class="small-9 columns">
                          <input type="text" id="title">
                        </div>
                      </div>

                      <div class="row">
                        <div class="small-3 columns">
                          <label for="title" class="right inline">Chart type</label>
                        </div>
                        <div class="small-9 columns">
                          <input type="text" id="title">
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="columns small-12 text-right">
                      <input class="button small" type="submit" value="Save">
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- eind datastream blok -->
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- end an existing project -->

  {% endfor %}

{% endblock %}