<div class="row stream edit-datastream" id="stream-id-{{data_stream.id}}-{{project.id}}">
          <div class="columns small-11 small-centered">
            <div class="panel">
              <div class="header">
                {{data_stream.name}}
                <div class="actions">
                  <button class="button tiny configure">Configure</button>
                  <button class="button tiny alert kill" stream-parent-id="stream-id-{{my_data_stream.id}}-{{project.id}}" data-stream-id="{{data_stream.id}}">Delete</button>
                </div>
              </div>
              <div class="content">


                  <div class="row">
                    <div class="columns small-6">
                      <form class='stream_id_{{data_stream.id}}' stream-or-prop='stream' method='POST' action="save_data_set/">
                          {% csrf_token %} 
                      <div class="row">
                        <div class="small-3 columns">
                        
                          <input type='hidden' name='stream-id' value='{{data_stream.id}}' />
                          <label for="name" class="right inline">Stream name</label>
                        </div>
                        <div class="small-9 columns">
                          <input id="data-name" name="name" type="text" value="{{data_stream.name}}">
                        </div>
                      </div>

                    

                    </div>
                    <div class="columns small-6">

               

                      <div class="row">
                        <div class="small-3 columns">
                        <select id="chart-type" name="chart-type">
                        {% for chart_choice in data_stream.CHART_CHOICE %}
                          <option value="{{chart_choice.0}}" {% if chart_choice.0 == data_stream.chart_type %}selected{%endif%}>{{chart_choice.1}}</option>
                                
                        {% endfor %}
                      </select>
                          <label for="chart-type" class="right inline">Chart type</label>
                        </div>
                        
                      </div>

                      <div class="row">
                        <div class="small-3 columns">
                          <select id="x-axis" name="x-axis">
                            {% for my_data_set_property in data_stream.properties.all %}
                             <option value="{{my_data_set_property.id}}" {% if my_data_set_property.id == data_stream.x_axis.id %}selected{%endif%}>{{my_data_set_property.data_model_property.name}}</option>
                                
                              {% endfor %}
                            </select>
                          <label for="x-axis" class="right inline">X-Axis</label>
                        </div>
                        
                      </div>

                    </div>
                  </div>
                </form>

                   <div class="columns large-12">
                      <table class="filters">
                        <thead>
                          <tr>
                            <th><span>Select terms</span></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for my_data_set_property in data_stream.properties.all %}
                          <form class='stream_id_{{data_stream.id}}' stream-or-prop='prop' method='post'>
                            {% csrf_token %} 
                          <tr>
                            <td>
                              <input type='hidden' name='property-id' value='{{my_data_set_property.id}}' />
                              <input id="checkbox1" type="checkbox" name="use_property" {%if my_data_set_property.use_property %}CHECKED{%endif%}><label for="checkbox1">{{my_data_set_property.data_model_property.translated_name}}</label></td>
                            <td>
                              <select id="" name='property_action'>
                              {% for action_choice in my_data_set_property.ACTIONCHOICE %}
                                <option value="{{action_choice.0}}" {% if action_choice.0 == my_data_set_property.action and my_data_set_property.use_property == True%}selected{%endif%}>{{action_choice.1}}</option>
                                
                              {% endfor %}
                              </select>
                              
                            </td>
                            <td><input id="filter_value" name="filter_value" type="text" placeholder="Filter by keywords" value={{my_data_set_property.filter_value}} /> <label>show<input type="checkbox" name='show_filter_field' {% if my_data_set_property.show_filter_field %}CHECKED{% endif %}/></label></td>
                          </tr>
                          </form>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                 <div class="row">
                    <div class="large-12 columns">
                      <button class="btn save" stream-id='{{data_stream.id}}'>Save</button>
                      <button class="btn close secondary" >Close</button>
                      <a target='blank' href="/get_queries/{{data_stream.id}}/">get data</a>
                    </div>
                  </div>


              </div>
            </div>
          </div>
        </div>