{% extends "base_dp_no_cms.html" %}
{% load project_view %}
{% load datastream_view %}
{% block content %}

  <!-- new project panel -->
  <div class="choose-dataset">
    <div class="row">
      <div class="columns small-11 small-centered" >
        <input id="name" name='name' type="text" placeholder="Name your dataStream">
        <h6>Select a data set</h6>
        <select id="cat">
          {% for cat in categories %}
              <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}
        </select>
        <select id="subcat">
          <option value="">Select Category First</option>
        </select>
        <select id="stream" name='stream_id'>
         
        </select>
        <input type="submit" class="button submit-stream-new" value="Choose">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-11 small-centered">
      <div class="panel project-new">
        <div class="header project-new-button">
          Add new project <i class="fa fa-plus"></i>
        </div>
        <div class="content">
          <form id='new-project-form'>
            {% csrf_token %} 
            <div class="row">
              <div class="small-8 columns small-centered">

                <div class="row">
                  <div class="small-2 columns">
                    <label for="title" class="right inline">Name of project</label>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" id="title" name="name">
                  </div>
                </div>

                <div class="row">
                  <div class="small-2 columns">
                    <label for="subtitle" class="right inline">Subtitle</label>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" id="subtitle" name="sub_title">
                  </div>
                </div>

                <div class="row">
                  <div class="small-2 columns">
                    <label for="about" class="right inline">About project</label>
                  </div>
                  <div class="small-10 columns">
                    <textarea id="about" rows="5" name="description"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns text-right">
                    <input type="submit" class="button submit-project-new" value="Create">
                  </div>
                </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- end new project panel -->
  <div id="new-projects"></div>
  {% for project in my_projects.all %}
    {% show_project project %}
    

  {% endfor %}
    

{% endblock %}