          <div class="row">
            <div class="large-12 columns">
              <div class="panel datastream">

                <div class="panel-header">
                  <div class="row">
                    <div class="large-7 columns">
                      <h1>A set of data</h1>
                    </div>
                    <div class="large-5 columns text-right">
                      <button class="btn configure">Configure</button>
                      <div class="killbutton"><button class="btn alert kill">Delete</button></div>
                    </div>
                  </div>
                </div>

                <div class="panel-content">
                  <div class="row">
                    <div class="large-12 columns">
                      <input class="header-input" id="data-name" type="text" value="Dolly Dataset #1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns margin-top">
                      <h6>Set some filters</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-2 columns">
                      <input id="year" type="text" placeholder="From year">
                    </div>
                    <div class="large-2 columns">
                      <input id="year" type="text" placeholder="To year">
                    </div>
                    <div class="large-4 columns">
                      <select id="country">
                        <option value="">Country</option>
                      </select>
                    </div>
                    <div class="large-4 columns">
                      <select id="city">
                        <option value="">City</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-12 columns margin-top">
                      <h6>Select what you'd like to include</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-4 columns">
                      <select id="filter-group">
                        <option value="">Filter terms by group</option>
                        <option value="group1">Group 1</option>
                      </select>
                    </div>
                    <div class="large-4 columns">
                      <select id="filter-subgroup">
                        <option value="">Filter terms by subgroup</option>
                      </select>
                    </div>
                    <div class="large-4 columns">
                    </div>
                  </div>

                  <div class="row">
                    <div class="columns large-12">
                      <table class="filters">
                        <thead>
                          <tr>
                            <th><span>Select terms</span></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- field data -->
                          <tr>
                            <td>
                              <input id="checkbox1" type="checkbox" checked><label for="checkbox1">Checkbox 1</label></td>
                            <td>
                              <select id="">
                                <option value="">Actions to apply</option>
                                <option value="filter">Filter</option>
                                <option value="something">Somehing</option>
                              </select>
                            </td>
                            <td><input id="" type="text" placeholder="Filter by keywords"></td>
                          </tr>
                          <!-- end field data -->
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-12 columns">
                      <button class="btn save">Save</button>
                      <button class="btn close secondary">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
