{% load datastream_view %}

<div class="row">
  <div class="columns small-11 small-centered">
    <div class="panel project">
      <div class="header main">
        <div class="row">
          <div class="columns small-1 avatar"><img src="/static/img/avatar.png">&nbsp;</div>
          <div class="columns small-4 title">{{project.name}}</div>
          <div class="columns small-4 subtitle">{{project.sub_title}}</div>
          <div class="columns small-3 datastreams">
            <div>Datastreams: XX</div>
            <div class="actions">
              <button class="button tiny configure">Configure</button>
              <button class="btn alert tiny kill" data-project-id='{{project.id}}'>Delete</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row description">
          <div class="columns small-10 small-offset-1">
            <p>{{project.description|linebreaks}}</p>
          </div>
        </div>
  
        <div class="row stream add-datastream">
          <div class="columns small-12">
            <div class="panel datastream-new">
              <div class="header add-data-stream" projectid="{{project.id}}">
                Add data stream <i class="fa fa-plus"></i>
              </div>
              <div class="content">
                <div id='choose-stream-{{project.id}}'></div>
              </div>
            </div>
          </div>
        </div>
        <div id='new-streams-{{project.id}}'></div>
        {%for my_data_stream in project.data_streams.all%}              
        <!-- start datastream blok -->
          {% show_datastream my_data_stream%}
        <!-- eind datastream blok -->
        {% endfor %}

        <div class="vis-blok" id='visualize-project-{{project.id}}'>
          <!--start van een visualisatie -->
          <div class="row visualisation">
            <div class="columns small-3">
              <div class="panel">
                <div class="header">
                  <i class="fa fa-filter"></i> Set filters
                </div>
                <div class="content filters">
                  <form>
                    <div class='searchboxes-{{project_id}} bar_chart_search'>
                      
                    </div>
                    <!-- begin filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <label>Tekstveld</label>
                        <input type="text">
                      </div>
                    </div>
                    <!-- eind filterveld -->
                    <!-- begin filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <label>Selectbox</label>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                    </div>
                    <!-- eind filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <input type="submit" value="Show" class="button save-filters">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="columns small-9">
              <div class="panel vis">
                <div class="header">
                  Visualisation type
                </div>
                <div class="content">
                 <div id="barchart_{{project.id}}" class="dashboard barchart" data-id="{{project.id}}">
                    <svg></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- eind van een visualisatie -->
               <!--start van een visualisatie -->
          <div class="row visualisation">
            <div class="columns small-3">
              <div class="panel">
                <div class="header">
                  <i class="fa fa-filter"></i> Set filters
                </div>
                <div class="content filters">
                  <form>
                    <div class='searchboxes-{{project_id}} heatmap_search'>
                      
                    </div>
                    <!-- begin filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <label>Tekstveld</label>
                        <input type="text">
                      </div>
                    </div>
                    <!-- eind filterveld -->
                    <!-- begin filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <label>Selectbox</label>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                    </div>
                    <!-- eind filterveld -->
                    <div class="row">
                      <div class="columns small-12">
                        <input type="submit" value="show" class="button save-filters">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="columns small-9">
              <div class="panel vis">
                <div class="header">
                  Visualisation type
                </div>
                <div class="content no-padding">
                  <div id="heatmap_{{project.id}}" class="dashboard heatmap" data-id="{{project.id}}">
                    <svg></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- eind van een visualisatie -->
         
        </div>

      </div>
    </div>
  </div>
</div>