{% extends "base_dp_no_cms.html" %}

{% block content %}
 <form id='all-data'>
 {% csrf_token %} 
      <div class="row margin-top">
        <div class="large-3 columns">
          <div class="panel dashboard filters">
            <h5><i class="fa fa-filter"></i>Set your filters</h5>
           
              <div class="row">
                <div class="large-12 columns">
                  <h6>Select project</h6>
                  <div class="check-clear">
                    <select>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
               <div class="row">
                <div class="large-12 columns margin-top">
                 <div class='searchboxes bar_chart_search'>
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns margin-top">
                  <a id="refresh-data" href="#" class="small button secondary">Go!</a>
                </div>
              </div>
          </div>
        </div> 
        <div class="large-9 columns">
        {% if data_streams.heat_map %}
          <div class="row">
            <div class="large-12 columns">
              <div id="heatmap" class="panel dashboard" data-id="{{data_project.id}}">
               
              </div>
              <div class='searchboxes heat_map_search'>
                
              </div>
            </div>
          </div>
         {% endif %} 

        {% if data_streams.line_chart %}
          <div class="row">
            <div class="large-12 columns">
              <div id="linechart" class="panel dashboard" data-id="{{data_project.id}}">
                <svg></svg>
              </div>
              <div class='searchboxes line_chart_search'>
                
              </div>
            </div>
          </div>
        {% endif %}
        {% if data_streams.bar_chart %}
          <div class="row">
            <div class="large-12 columns">
              <div id="barchart" class="panel dashboard" data-id="{{data_project.id}}">
                <svg></svg>
              </div>
              
            </div>
          </div>
        {% endif %}

        </div>
      </div>
      </form>
{% endblock %}
